html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'Galaxy-Experience-Regular';
    src: url('../fonts/Galaxy-Experience.woff2');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'Baumans-Regular';
    src: url('../fonts/Baumans-Regular.ttf');
}
.cabecalho_conteiner {
    display: inline-block;
    background-color: #000000ff;
    width: 100vw;
    border-bottom-color: #444444;
    border-bottom-width: 0.2vw;
    text-decoration: none;
    border-bottom-style: solid;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
}

.logo_part_i {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1vw;
    width: 65px;
    height: 65px;
}

.cab_conteiner_title {
    display: inline-block;
    background-color: #ff5500;
    color: #eeeeee;
    margin-left: 40vw;
    margin-top: 3vw;
    margin-top: -2vw;
    width: 50vw;
    padding: 0.6vw 0.4vw;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-border-top-left-radius: 8px;
       -moz-border-radius-topleft: 8px;
            border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 7px;
       -moz-border-radius-topright: 7px;
            border-top-right-radius: 7px;

}

.text1_title,
.text2_title {
    display: inline-block;
}

.text1_title {
    font-family: "Ubuntu-Light";
    font-size: 60px;
    font-weight: 400;
}

.text2_title {
    font-family: "Baumans-Regular";
    font-size: 35px;
    font-weight: 900;
    margin-left: 1vw;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    border: #000000 2px solid;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}

.animation_board {
    display: inline-block;
    padding-top: 1.2vw;
    padding-bottom: 1vw;
}
.menu_conteiner {
    display: inline-block;
    margin-left: 52vw;
    color: #ffffff;
    background-color: #111111;
    -webkit-border-top-left-radius: 6px;
       -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
       -moz-border-radius-topright: 6px;
            border-top-right-radius: 6px;
    padding-bottom: 0.7vw;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
    padding-top: 0.7vw;
}

.menu_item {
    font-family: 'Ubuntu-Light';
    display: inline-block;
    font-size: 26px;
    margin-left: 0.5vw;
    cursor: pointer;
    padding-bottom: 0.3vw;
    padding-top: 0.3vw;

    -webkit-border-bottom-left-radius: 6px;

       -moz-border-radius-bottomleft: 6px;

            border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 0.2vw;
    border-bottom-color: #ffffff00;
    -webkit-border-top-left-radius: 6px;
       -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
       -moz-border-radius-topright: 6px;
            border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 0.2vw;
    border-top-color: #ffffff00;
}

.menu_item:hover {
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
    border-bottom-style: solid;
    border-bottom-width: 0.2vw;
    border-bottom-color: #0000ff66;
    -webkit-border-top-left-radius: 6px;
       -moz-border-radius-topleft: 6px;
            border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
       -moz-border-radius-topright: 6px;
            border-top-right-radius: 6px;
    border-top-style: solid;
    border-top-width: 0.2vw;
    border-top-color: #0000ffaa;
}


.welcome_bkg {
    display: inline-block;
}

.conteiner_welcome_text {
    padding-bottom: 2vw;
    margin-left: 7.8vw;
}

.welcome_menssagem_marcacao,
.welcome_menssagem {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    font-size: 50px;
    background-color: #111111;
    color: #ffffff;
    border-bottom-color: #444444;
    border-bottom-width: 0.2vw;
    border-bottom-style: solid;
    padding: 0.6vw 0.4vw;
}

.welcome_menssagem {
    -webkit-border-bottom-left-radius: 4px;
       -moz-border-radius-bottomleft: 4px;
            border-bottom-left-radius: 4px;
    border-left-color: #444444;
    border-left-width: 0.2vw;
    border-left-style: solid;
}

.welcome_menssagem_marcacao {
    margin-left: 1vw;
    font-weight: 900;
    color: #008899;
    padding-left: 0.4vw;
    margin-left: -0.02vw;
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
       -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
         -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
            transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 450ms;
       -moz-transition-duration: 450ms;
         -o-transition-duration: 450ms;
            transition-duration: 450ms;
    -webkit-transition-delay: 2ms;
       -moz-transition-delay: 2ms;
         -o-transition-delay: 2ms;
            transition-delay: 2ms;
    -webkit-border-bottom-right-radius: 4px;
       -moz-border-radius-bottomright: 4px;
            border-bottom-right-radius: 4px;
    border-right-color: #444444;
    border-right-width: 0.2vw;
    border-right-style: solid;
}

.destaques_conteiner {
    display: inline-block;
}

.destaques_titulo {
    display: inline-block;
    font-family: 'Baumans-Regular';
    color: #ffffff;
    background-color: #333333;
    -webkit-border-radius: 13px;
       -moz-border-radius: 13px;
            border-radius: 13px;
    text-align: start;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    padding: 1vw 1.6vw;
    width: 60vw;
    font-size: 60px;
    margin-top: 2vw;
    margin-left: 1.4vw;
}

/* Destaques cards */

.destaques_card_conteiner {
    font-family: 'Ubuntu-Light';
    background-color: #44ff44;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    margin-left: 1.4vw;
    margin-top: 1vw;
    margin-bottom: 1.6vw;
    width: 96.4vw;
}

.destaques_card_conteiner__item,
.destaques_card_conteiner__item___info {
    display: inline-block;
}

.destaques_card_conteiner__item {
    background-color: #44dd44;
    padding: 0.4vw 0.6vw;
    color: #ffffff;
    font-size: 38px;
    font-weight: 800;
    width: 97.5%;
    margin: 1vw 0.6vw;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.destaques_warning {
    display: inline-block;
    text-align: center;
    font-size: 60px;
    padding: 0.8vw 0.6vw;
    text-shadow: 1px 2px #ffffff;
    margin-left: 6vw;
}

.infos {
    display: inline-block;
}

.infos_titulo {
    font-family: 'Baumans-Regular';
    display: inline-block;
    color: #ffffff;
    background-color: #333333;
    -webkit-border-radius: 13px;
       -moz-border-radius: 13px;
            border-radius: 13px;
    text-align: start;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    padding: 1vw 1.6vw;
    width: 60vw;
    font-size: 60px;
    margin-top: 2vw;
    margin-left: 1.4vw;   
}

.infos_desc_div {
    display: inline-block;
    margin-left: 1.4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.infos_desc_text {
    display: inline-block;
    background-color: #0044ff66;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    color: #ffffff;
    font-family: 'Ubuntu-Light';
    font-weight: 600;
    font-size: 40px;
    padding: 0.4vw 0.6vw;
    width: 95vw;
    text-align: justify;
    line-height: 3.8vw;
}

#text1 {
    background-color: #66226666;
}

#text2 {
    background-color: #ff770077;
}

#text3 {
    background-color: #b22222cc;
}

.infos_email {
    font-weight: 900;
    text-shadow: 2px 3.6px #000000;
}
.heverdev_titulo {
    font-family: 'Baumans-Regular';
    display: inline-block;
    color: #ffffff;
    background-color: #0099ff;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 66px;
    margin-bottom: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    -webkit-border-bottom-right-radius: 9px;
       -moz-border-radius-bottomright: 9px;
            border-bottom-right-radius: 9px;
}

.text_conteiner {
    display: block;
    margin-bottom: 1.5vw;
    text-align: center;
}

.text_heverdev {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    font-size: 54px;
    font-weight: 500;
    color: #333333;
    text-shadow: 1.4px 1px #0099ff, 1.8px 2px #0066ff;
    background-color: #999999;
    padding: 0.6vw 0.4vw;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
}

.development_studios_titulo, .blueprints_titulo {
    display: inline-block;
    font-family: 'Baumans-Regular';
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
    padding: 0.6vw 0.4vw;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    padding-right: 10vw;
    margin-left: 1.4vw;
}

.projetos, .blueprints {
    display: inline-block;
    width: 96vw;
    background-color: #4466ff;
    margin-top: 10px;
    margin-left: 1.4vw;
    margin-bottom: 1vw;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

/* Projetos (Development Studios) */

.projetos_warning {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    text-align: center;
    font-size: 60px;
    padding: 0.8vw 0.6vw;
    text-shadow: 1px 2px #ffffff;
    margin-left: 6vw;
}

.projetos_card {
    display: inline-block;
    margin: 1vw 1.2vw;
    background-color: #4466cc;
    padding: 0.4vw 0.6vw;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 8px;
       -moz-border-radius-topleft: 8px;
            border-top-left-radius: 8px;
    -webkit-border-bottom-right-radius: 7px;
       -moz-border-radius-bottomright: 7px;
            border-bottom-right-radius: 7px;
    -webkit-border-top-right-radius: 5px;
       -moz-border-radius-topright: 5px;
            border-top-right-radius: 5px;
    -webkit-box-shadow: 4px 4px 2px #000000;
       -moz-box-shadow: 4px 4px 2px #000000;
            box-shadow: 4px 4px 2px #000000;
    text-decoration: none;
}

.projetos_card__nome,
.projetos_card__ancora,
.projetos_card__botao {
    font-family: "Ubuntu-Light";
    color: #ffffff;
}

.projetos_card__nome {
    font-size: 38px;
    margin-bottom: 0.8vw;
}

.projetos_card__botao {
    font-size: 32px;
    background-color: #4466aa;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    border: #000000 1.5px solid;
    cursor: pointer;
}

.projetos_card__botao:hover {
    background-color: #446688;
}

.blueprints {
    background-color: #20b2aa;
    margin-bottom: 3vw;
}

.dev_std_cat__conteiner {
    display: inline-block;
    width: 28vw;
    margin-top: 1.2vw;
    margin-left: 1vw;
    background-color: #4488ff;
    padding: 0.6vw 0.8vw;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    text-align: center;
}

#card1 {
    margin-left: 2vw;
}

.dev_std_cat__titulo {
    display: block;
    font-family: 'Ubuntu-Light';
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

.development_studios__categories {
    display: inline-block;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    text-align: center;
}

.dev_std_cat__card {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    color: #4e4e4e;
    background-color: #ffffff77;
    padding: 0.6vw 0.4vw;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    cursor: pointer;
    margin-bottom: 1vw;
}

.dev_std_cat__card:hover {
    background-color: #ffffffdd;
}

.dev_std_cat__card___txt {
    margin-top: 0.4vw;
    font-size: 24px;
    margin-bottom: 1vw;
}

.blueprints_card {
    display: inline-block;
    width: 90vw;
    background-color: #ffffff77;
    padding: 0.6vw 0.4vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 2.5vw;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}

.blueprints_card__item {
    font-family: 'Ubuntu-Light';
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.div_spam {
    color: #ffffff;
    font-family: 'Ubuntu-Light';
    font-size: 32px;
    margin-top: 2vw;
    margin-bottom: 2vw;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    text-align: center;
}

.warn_spam {
    padding: 0.6vw 0.4vw;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.treatplay_titulo {
    font-family: 'Baumans-Regular';
    display: inline-block;
    color: #ffffff;
    background-color: #ffcc00;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 66px;
    margin-right: 4vw;
    margin-bottom: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    -webkit-border-bottom-right-radius: 9px;
       -moz-border-radius-bottomright: 9px;
            border-bottom-right-radius: 9px;
}

.text_treatplay {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    font-size: 54px;
    font-weight: 500;
    color: #333333;
    text-shadow: 1.4px 1px #ffcc00, 1.8px 2px #ffbb00;
    background-color: #999999;
    padding: 0.6vw 0.4vw;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
}

.vibes_musics_tracks_conteiner {
    display: inline-block;
    margin-left: 1.4vw;
    margin-bottom: 2vw;
    width: 80vw;
}

.vibes_musics_titulo {
    display: inline-block;
    font-family: 'Baumans-Regular';
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
    padding: 0.6vw 0.4vw;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    padding-right: 10vw;

}

.vibes_musics_categories_conteiner {
    display: inline-block;
    width: 96vw;
    margin-top: 10px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.vibes_musics_playlists_cont {
    display: inline-block;
    background-color: #ffdd00;
    width: 47.2vw;
    margin-top: 0vw;
    margin-bottom: 1vw;
    text-align: center; 
    -webkit-align-content: center; 
        -ms-flex-line-pack: center; 
            align-content: center;
    cursor: pointer;  
    -webkit-border-radius: 6px;  
       -moz-border-radius: 6px;  
            border-radius: 6px; 
}

.vibes_musics_playlists_cont:hover {
    background-color: #ff9900;
}

.vibes_musics_playlists__capa {
    margin-top: 1vw;
    margin-bottom: 1vw;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

#div_vm1 {
    margin-left: 0vw;
}

#div_vm2 {
    margin-left: 1vw;
}

.vibes_musics_playlists__titulo,
.vibes_musics_playlists__subtitulo {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
}

.vibes_musics_playlists__subtitulo {
    color: #4f4f4f;
    font-weight: 500;
}
.worldteam_titulo {
    font-family: 'Baumans-Regular';
    display: inline-block;
    color: #ffffff;
    background-color: #00ff66;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 66px;
    margin-bottom: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    -webkit-border-bottom-right-radius: 9px;
       -moz-border-radius-bottomright: 9px;
            border-bottom-right-radius: 9px;
}

.text_worldteam {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    font-size: 54px;
    font-weight: 500;
    color: #333333;
    text-shadow: 1.4px 1px #00ff66, 1.8px 2px #00ff33;
    background-color: #999999;
    padding: 0.6vw 0.4vw;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
}

.environment_titulo {
    display: inline-block;
    font-family: 'Baumans-Regular';
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
    padding: 0.6vw 0.4vw;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    padding-right: 10vw;
    margin-left: 1.4vw;
}

.environment_card {
    display: inline-block;
    width: 96vw;
    background-color: #117711;
    margin-top: 10px;
    margin-left: 1.4vw;
    margin-bottom: 1vw;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    font-family: 'Ubuntu-Light';
}

.environment_card__titulo {
    font-size: 52px;
    text-shadow: 1.4px 1px #ffffff;
    color: #484848;
    text-align: center;
    margin-bottom: 2vw;
}

.environment_card__descricao {
    color: #ffffff;
    font-size: 34px;
    text-align: justify;
    padding: 0.6vw 0.4vw;
}
.wiki_titulo {
    font-family: 'Baumans-Regular';
    display: inline-block;
    color: #ffffff;
    background-color: #888888dd;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 66px;
    margin-bottom: 2vw;
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    -webkit-border-bottom-right-radius: 9px;
       -moz-border-radius-bottomright: 9px;
            border-bottom-right-radius: 9px;
}

.text_wiki {
    display: inline-block;
    font-family: 'Ubuntu-Light';
    font-size: 54px;
    font-weight: 500;
    color: #333333;
    text-shadow: 1.4px 1px #fdfdfd, 1.8px 2px #fafafa;
    background-color: #999999;
    padding: 0.6vw 0.4vw;
    -webkit-border-bottom-left-radius: 6px;
       -moz-border-radius-bottomleft: 6px;
            border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
       -moz-border-radius-bottomright: 6px;
            border-bottom-right-radius: 6px;
}

.wiki_conteiner {
    display: inline-block;
}

.wiki_card {
    display: inline-block;
    width: 96vw;
    background-color: #363636;
    margin-top: 10px;
    margin-left: 1.4vw;
    margin-bottom: 1vw;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    font-family: 'Ubuntu-Light';
}

.wiki_card__titulo {
    font-size: 32px;
    color: #ffffff;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    text-align: center;
    margin-top: 1.4vw;
    margin-bottom: 3vw;
}
.heverdev_page_conteiner, .treatplay_page_conteiner, .worldteam_page_conteiner, .wiki_page_conteiner {
    display: none;
}
.rodape {
    display: inline-block;
    background-color: #000000ff;
    border-top-color: #444444;
    border-top-width: 0.5vw;
    border-top-style: solid;
    width: 100vw;
}

.rodape_titulo {
    font-family: 'Ubuntu-Light';
    font-size: 28px;
    font-weight: 800;
    padding: 2vw 1vw;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    text-align: center;
    color: #ffffff;
}