html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
    font-family: 'Galaxy-Experience-Regular';
    src: url('../fonts/Galaxy-Experience.woff2');
}

@font-face {
    font-family: 'Ubuntu-Light';
    src: url('../fonts/Ubuntu-Light.ttf');
}

@font-face {
    font-family: 'Baumans-Regular';
    src: url('../fonts/Baumans-Regular.ttf');
}
.cabecalho_conteiner {
    display: inline-block;
    background-color: #000000ff;
    width: 100vw;
    border-bottom-color: #444444;
    border-bottom-width: 0.2vw;
    border-bottom-style: solid;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: 0;
}

.logo_part_i {
    display: inline-block;
    margin-left: 1vw;
    margin-top: 1vw;
    width: 65px;
    height: 65px;
}

.cab_conteiner_title {
    display: inline-block;
    background-color: #0000ff;
    color: #eeeeee;
    margin-left: 40vw;
    margin-top: 3vw;
    margin-top: -2vw;
    width: 50vw;
    padding: 0.6vw 0.4vw;
    text-align: center;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-border-top-left-radius: 8px;
       -moz-border-radius-topleft: 8px;
            border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 7px;
       -moz-border-radius-topright: 7px;
            border-top-right-radius: 7px;

}

.text1_title,
.text2_title {
    display: inline-block;
}

.text1_title {
    font-family: "Ubuntu-Light";
    font-size: 60px;
    font-weight: 400;
}

.text2_title {
    font-family: "Baumans-Regular";
    font-size: 35px;
    font-weight: 900;
    margin-left: 1vw;
    -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
            border-radius: 7px;
    border: #000000 2px solid;
    padding-left: 0.6vw;
    padding-right: 0.6vw;
}

.animation_board {
    display: inline-block;
    padding-top: 1.2vw;
    padding-bottom: 1vw;
}
.rodape {
    display: inline-block;
    background-color: #000000ff;
    border-top-color: #444444;
    border-top-width: 0.5vw;
    border-top-style: solid;
    width: 100vw;
}

.rodape_titulo {
    font-family: 'Ubuntu-Light';
    font-size: 28px;
    font-weight: 800;
    padding: 2vw 1vw;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    text-align: center;
    color: #ffffff;
}
.list_maker_conteiner {
  display: inline-block;
  font-family: "Ubuntu-Light";
  color: #444444;
  margin-top: 2vw;
  text-align: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  width: 50vw;
}

.titulo_servicos {
  font-family: "Baumans-Regular";
  font-size: 50px;
  background-color: #000000;
  margin-left: 1.6vw;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding: 0.6vw 0.4vw;
  color: #ffffff;
}

.creator {
  font-family: "Ubuntu-Light";
  display: inline-block;
  border: #cccccc 4px solid;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  padding: 0.6vw 0.4vw;
  margin-top: 1vw;
  margin-left: 4vw;
  font-size: 30px;
  width: 90vw;
}

.label_lista {
  display: block;
  text-align: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-top: 0.4vw;
}

.input_lista {
  display: block;
  text-align: left;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  margin-top: 0.6vw;
  margin-left: 5%;
  width: 90%;
  font-size: 20px;
}

.lista_aviso {
  font-size: 22px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  text-align: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  color: #000066;
  font-weight: 600;
}

.list_conteiner {
  display: inline-block;
  border: #cccccc 2px solid;
  margin-bottom: 2vw;
  margin-left: 4.1vw;
  margin-top: 1.5vw;
  width: 90vw;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  font-size: 24px;
  padding: 0.6vw 0.4vw;
  font-family: "Ubuntu-Light";
}

.list_titulo {
  margin-bottom: 0.8vw;
  font-size: 32px;
  font-weight: 900;
  border-bottom: #333333 4px solid;
}

.list_item {
  display: block;
  margin-bottom: 0.8vw;
  border-bottom: #141414 1.5px dotted;
}

.list_item__text,
.list_item__btn {
  display: inline-block;
}

.list_item__btn {
  -webkit-align-content: right;
      -ms-flex-line-pack: right;
          align-content: right;
  border-left: #585858 2px solid;
  padding-left: 0.6vw;
  outline: none;
  border: none;
  font-size: medium;
  cursor: pointer;
}

.list_item__btn:hover {
  background-color: #444444;
  color: #ffffff;
}

.unote_slogan {
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

.unote_text_slogan {
  display: inline-block;
  font-size: 54px;
  font-family: "Ubuntu-Light";
  color: #454545;
}