.destaques_conteiner {
    display: inline-block;
}

.destaques_titulo {
    display: inline-block;
    font-family: 'Baumans-Regular';
    color: #ffffff;
    background-color: #333333;
    border-radius: 13px;
    text-align: start;
    align-content: center;
    padding: 1vw 1.6vw;
    width: 60vw;
    font-size: 60px;
    margin-top: 2vw;
    margin-left: 1.4vw;
}

/* Destaques cards */

.destaques_card_conteiner {
    font-family: 'Ubuntu-Light';
    background-color: #44ff44;
    border-radius: 6px;
    margin-left: 1.4vw;
    margin-top: 1vw;
    margin-bottom: 1.6vw;
    width: 96.4vw;
}

.destaques_card_conteiner__item,
.destaques_card_conteiner__item___info {
    display: inline-block;
}
/* 
.destaques_card_conteiner__item {}
.destaques_card_conteiner__item___info {} */

.destaques_warning {
    display: inline-block;
    text-align: center;
    font-size: 60px;
    padding: 0.8vw 0.6vw;
    text-shadow: 1px 2px #ffffff;
    margin-left: 6vw;
}
